.container-fluid {
	background: #FD8201;
	color: #FFF;
}

.fixed-top {
	left: auto;
}

.btn-below-header {
	border-color: #FD8201;
	color: #000;
}

.btn-below-header:hover {
	background-color: #FD8201;
	color: #E6E6E6;
}

.card {
	width: 18rem;
	height: 25rem;
	margin: 15px auto 0px auto;
	transition: .10s, transform .10s ease;
  	-moz-transition: .10s, transform .10s ease;
  	-webkit-transition: .10s, transform .10s ease;
  	
}

.star > span {
	float: right;
	margin: 5px 5px 0px 0px;
}

.favorite-star {
	color: #EFDE05;
}

.card-content {
	overflow: hidden;	
}

.card-img-top {
	width: 100%;
	height: 65%;
	object-fit: scale-down;
}

.card:hover {
	-ms-transform: scale(1.05);
  	-webkit-transform: scale(1.05);
  	transform: scale(1.05);
}

#modal-img {
	float: left;
	overflow: hidden;
}

#modal-img > img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;	
}

.modal-content {
	width: 115%;
}

.card-modal {
	width: 10rem;
	height: 15rem;
}

.card-modal-body > h5, p {
	font-size: 0.85rem;
}